body{
    background-color: salmon;
  }
  
  li {
      display: inline;
    }

    
  
  
  nav .logo{
    color: white;
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 110px;
  }
  nav{
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #23dbdb;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
  section{
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  
  }
  
  
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer-container{
    background-color: salmon;
   
    

  
    
  }
  
  .footer{
    width: 100%;
    height: 40vh;
    background-color: #063247;
    display: flex;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
  }
  
  .footer-heading h3{
    margin-bottom: 2rem;
  }
  
  .footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-heading a:hover{
    color: #23dbdb;
    transition: 0.3 ease-in-out;
  }




  /*Homepage*/
  .car_cinema_text{
    color: rgba(189, 36, 219, 0.863);
    position: relative; top: -775px;
    position: relative; right: -179px;
    font-size: 40px;
    font-family: cursive;
  }
  .car_cinema{
    opacity: 80%;
    filter: brightness(70%);
  }

  .car_cinema_text1{
    color: rgb(255, 255, 255);
    position: relative; top: -765px;
    position: relative; right: -239px;
    font-size: 38px;
    font-family: cursive;
  }

  .social-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    position: relative; top: -745px;
    position: relative; right: -669px;
  }
  
  .social-info i{
    margin-right: 20px;
    font-size: 25px;
  }

  .black_cinema{
    position: relative; top: -365px;
   
  }

  .car_cinema_text2{
    color: rgb(255, 255, 255);
    position: relative; top: -995px;
    position: relative; right: -109px;
    font-size: 36px;
    font-family: cursive;
  }

  .car_cinema_text3{
    color: rgb(205, 12, 223);
    position: relative; top: -1195px;
    position: relative; right: -709px;
    font-size: 46px;
    font-family: cursive;
  }

  .car_cinema1{
    position: relative; top: -995px;
    position: relative; right: -209px;
  }

  .car_cinema2{
    position: relative; top: -1345px;
    position: relative; right: -999px;
  }







  .main{
    overflow: visible;
    width: 40px;
    padding: 300px 444.549px;
    position: relative; top: -300px;
    position: relative; left: -450px;
  }
    
  .spid{
    color: rgb(255, 255, 255);
    position: relative; top: -190px;
    position: relative; right: -140px;
    font-size: 30px;
  }
 
  .date{
    color: rgb(255, 255, 255);
    position: relative; top: -195px;
    position: relative; right: -155px;
    font-size: 20px;
  }


  .Word-slider{
    color: rgb(255, 255, 255);
    position: relative; top: -110px;
    position: relative; right: -900px;
    font-size: 30px;
    
    
  }

  /* What's on Movie images/text*/

  .Movie1{
    height: 295px;
    width: 240px;
    position: relative; top: -20px;
    position: relative; right: -155px;
  }

  .Movie-text1{
    color: rgb(255, 255, 255);
    position: relative; top: -25px;
    position: relative; right: -155px;
    font-size: 30px;
  }
    

  .Movie2{
    height: 295px;
    width: 240px;
    position: relative; top: -353px;
    position: relative; right: -580px;
  }
  
  .Movie-text2{
    color: rgb(255, 255, 255);
    position: relative; top: -355px;
    position: relative; right: -579px;
    font-size: 30px;
  }
    

  .Movie3{
    height: 295px;
    width: 240px;
    position: relative; top: -684px;
    position: relative; right: -990px;
  }

  .Movie-text3{
    color: rgb(255, 255, 255);
    position: relative; top: -685px;
    position: relative; right: -999px;
    font-size: 30px;
  }

  .Movie4{
    height: 295px;
    width: 240px;
    position: relative; top: -1050px;
    position: relative; right: -1390px;
  }

  .Movie-text4{
    color: rgb(255, 255, 255);
    position: relative; top: -1047px;
    position: relative; right: -1399px;
    font-size: 30px;
  }

  .Movie5{
    height: 295px;
    width: 240px;
    position: relative; top: -1000px;
    position: relative; right: -1389px;
  }

  .Movie-text5{
    color: rgb(255, 255, 255);
    position: relative; top: -1000px;
    position: relative; right: -1452px;
    font-size: 30px;
  }

  .Movie6{
    height: 295px;
    width: 240px;
    position: relative; top: -959px;
    position: relative; right: -1390px;
  }

  .Movie-text6{
    color: rgb(255, 255, 255);
    position: relative; top: -959px;
    position: relative; right: -1399px;
    font-size: 30px;
  }


  .Movie7{
    height: 295px;
    width: 240px;
    position: relative; top: -1750px;
    position: relative; right: -155px;
  }

  .Movie-text7{
    color: rgb(255, 255, 255);
    position: relative; top: -1734px;
    position: relative; right: -155px;
    font-size: 30px;
  }
    

  .Movie8{
    height: 295px;
    width: 240px;
    position: relative; top: -2157px;
    position: relative; right: -580px;
  }
  
  .Movie-text8{
    color: rgb(255, 255, 255);
    position: relative; top: -2155px;
    position: relative; right: -579px;
    font-size: 30px;
  }

  .Movie9{
    height: 295px;
    width: 240px;
    position: relative; top: -2490px;
    position: relative; right: -980px;
  }
  
  .Movie-text9{
    color: rgb(255, 255, 255);
    position: relative; top: -2495px;
    position: relative; right: -979px;
    font-size: 30px;
  }

  .Movie10{
    height: 295px;
    width: 240px;
    position: relative; top: -2359px;
    position: relative; right: -980px;
  }
  
  .Movie-text10{
    color: rgb(255, 255, 255);
    position: relative; top: -2360px;
    position: relative; right: -979px;
    font-size: 30px;
  }


  .new{
    color: red;
    position: relative; top: -10px;
    position: relative; right: -1px;
  }
  





















  
  
 /* Offer text*/
  .fire-text{
    color: white;
    position: relative; top: -595px;
    position: relative; right: -179px;
    font-size: 40px;
  }

  .fire-text1{
    color: white;
    position: relative; top: -565px;
    position: relative; right: -179px;
    font-size: 15px;
  }

  .Tiger{
    height: 1030;
    position: relative; top: -65px;
  }

  .Tiger-word{
    color: white;
    position: relative; top: -575px;
    position: relative; right: -179px;
    font-size: 40px;
  }

  .Tiger-word1{
    color: white;
    position: relative; top: -545px;
    position: relative; right: -179px;
    font-size: 15px;
  }

  .woman{
    height: 100;
    position: relative; top: 1115px;
  }

  .woman-word{
    color: white;
    font-size: 40px;
    position: relative; top: -445px;
    position: relative; right: -179px;
  }

  .woman-word1{
    color: white;
    font-size: 15px;
    position: relative; top: -435px;
    position: relative; right: -179px;
  }

  /* Location*/

  .location-text{
    color: white;
    position: relative; top: 45px;
    position: relative; right: -29px;

  }

  .plat{
    position: relative; right: -29px;
    position: relative; top: 45px;
    width:550px;
    height:650px;
    
  }

  .plat-text{
    color: white;
    position: relative; top: -585px;
    position: relative; right: -629px;
    font-size: 48px;
  }

  .address{
    color: white;
    font-size: 28px;
    position: relative; top: -585px;
    position: relative; right: -629px;
  }

  .platt-map{
    position: relative; top: -585px;
    position: relative; right: -629px;
  }
  



  /*Signin/up*/

  .signup-box{
    width: 360px;
    height: 620px;
    background-color: white;
    border-radius: 6px;
    position: relative; top: 85px;
    position: relative; right: -762px;
  }

  .signin-box{
    width: 360px;
    height: 280px;
    background-color: white;
    border-radius: 6px;
    position: relative; top: 85px;
    position: relative; right: -762px;
  }

  h1{
    text-align: center;
    padding-top: 15px;
  }

  h4{
    text-align: center;
  }

  form label{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
  }

  form input{
    width: 100%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }

  input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #063247;
    color: white;
    font-size: 18px;
    position: relative; right: -20px;
  }

  p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    
  }
  
  .para-2{
    text-align: center;
    color: #063247;
    font-size: 15px;
    margin-top: -10px;
    position: relative; top: 105px;
  }

  .para-3{
    text-align: center;
    color: #063247;
    font-size: 15px;
    margin-top: -10px;
    position: relative; top: 105px;
  }




  /*Contact form*/
  .contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
  }
  
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
  }
  
  .contact-form{
    max-width: 700px;
    margin-right: 50px;
  }
  
  .contact-info, .contact-form{
    flex: 1;
  }
  
  .contact-form h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .text-box:first-child{
    margin-right: 15px;
  }
  
  .contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  
  .contact-form .send-btn:hover{
    background: #0582E3;
  }
  
  @media screen and (max-width: 950px){
    .contact-section{
      flex-direction: column;
    }
  
    .contact-info, .contact-form{
      margin: 30px 50px;
    }
  
    .contact-form h2{
      font-size: 30px;
    }
  
    .contact-form .text-box{
      width: 100%;
    }
  }

  /*Customer Service*/
  
  .customer-serv{
    position: relative; right: -20px;
    color: white;
    
    position: relative; right: 629px;
    font-size: 60px;
  }
  
  .customer-servi{
    position: relative; right: -20px;
    color: white;
    
    position: relative; right: 629px;
    position: relative; top: 9px;
    font-size: 60px;
  }


  /*FeedBack Form*/

  .feedback{
    width: 100%;
    max-width: 780px;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}

.survey-hr{
  margin:10px 0;
  border: .5px solid #ddd;
}

.feedback form input,
.feedback form textarea{
    width: 100%;
    border: 1px solid #ddd;
}

.star-rating {
  margin: 25px 0 0px;
 font-size: 0;
 white-space: nowrap;
 display: inline-block;
 width: 175px;
 height: 35px;
 overflow: hidden;
 position: relative;
 background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
 background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
span.scale-rating{
margin: 5px 0 15px;
    display: inline-block;
   
    width: 100%;
   
}
span.scale-rating>label {
  position:relative;
    -webkit-appearance: none;
  outline:0 !important;
    border: 1px solid grey;
    height:33px;
    margin: 0 5px 0 0;
  width: calc(10% - 7px);
    float: left;
  cursor:pointer;
}

span.scale-rating label {
  position:relative;
    -webkit-appearance: none;
  outline:0 !important;
    height:33px;
      
    margin: 0 5px 0 0;
  width: calc(10% - 7px);
    float: left;
  cursor:pointer;
}

span.scale-rating input[type=radio] {
  position:absolute;
    -webkit-appearance: none;
  opacity:0;
  outline:0 !important;
    /*border-right: 1px solid grey;*/
    height:33px;
 
    margin: 0 5px 0 0;
  
  width: 100%;
    float: left;
  cursor:pointer;
  z-index:3;
}
span.scale-rating label:hover{
background:#fddf8d;
}
span.scale-rating input[type=radio]:last-child{
border-right:0;
}
span.scale-rating label input[type=radio]:checked ~ label{
    -webkit-appearance: none;
 
    margin: 0;
  background:#fddf8d;
}
span.scale-rating label:before
{
  content:attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
  z-index:2;
}


/*FeedBacl*/
